### Maven template
target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Eclipse template
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.classpath
.project

.DS_Store
